.project--container {
    display: flex;
    background-color: rgb(240, 240, 247);
    height: 91.5vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project--modal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project--content {
    display: flex;
    justify-content: center;
}

.project--bin {
    align-self: center;
    margin-top: 20%;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .project--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 40px;
    }
}
