.home {
    background-color: rgb(240, 240, 247);
    height: 100vh;
    width: 100%;
}

.board-info-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
