:root {
    --primary: rgb(250, 246, 246);
}

.board {
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Courier Prime', monospace;
    background-color: var(--primary);
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}

// style

.board--primary {
    background-color: var(--primary);
    color: black;
    border: solid 1px var(--primary);
    display: flex;
    flex-direction: column;
}

// title

.board--title {
    align-self: center;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 10px 0 30px 0;
    font-size: 23px;
}

// size

.board--medium {
    width: 25%;
    height: 27vh;
    font-size: 14px;
}

.board--large {
    width: 60%;
    height: fit-content;
    padding: 13px 14px;
}

.board--long {
    width: 25%;
    height: 70vh;
    padding: 15px 10px;
}

// color


// data 

.board--project {
    display: flex;
    flex-wrap: wrap;
}

.board--data-project {
    display: flex;
    flex: 1 0 21%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: white;
    border: solid 2px white;
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
    width: 20%;
    height: fit-content;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
